@media screen and (max-width: 1920px) and (min-width: 1500px){
	.clb1{
		width: 78%;
	    float: right;
	    margin-right: 30px;
	}
	.section-client .cient-main .got {
	    color: #6F6F73;
	    text-align: center;
	    width: 31%;
	}
	.section-contact{
		margin-top: 103px;
	}
	.section-work p {
	    width: 23%;
	}
}